[user]
	email = ju.diez@protonmail.com
	name = hebstr
[credential]
	helper = cache
[init]
	defaultBranch = main
[pull]
	rebase = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = false
	hyperlinks = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[diff]
	colorMoved = default
	algorithm = histogram
[rebase]
	autoStash = true
	autosquash = true
[rerere]
	enabled = true
[tag]
	sort = version:refname
[column]
	ui = auto
[branch]
	sort = -committerdate
[alias]
	st = status -sb
	lg = log --oneline --graph --all --decorate
	sw = switch
	unstage = restore --staged
[merge]
	conflictstyle = zdiff3
[diff "out-textconv"]
	textconv = ~/.config/git/out-textconv.py
[filter "html-id"]
	clean = "perl -0777 -pe 'my %m; my ($g, $w) = (0, 0); while (/<div id=\"([a-z]{10})\" style=\"padding-left/g) { $m{$1} //= \"gt\" . ++$g } while (/htmlwidget-([0-9a-f]{16,})/g) { $m{$1} //= \"wdg\" . ++$w } for my $k (keys %m) { s/(id=\"|#|htmlwidget-)\\Q$k\\E\\b/$1$m{$k}/g }'"
[filter "positron-theme"]
	clean = "sed -E 's/(\"workbench\\.colorTheme\"[[:space:]]*:[[:space:]]*)\"[^\"]*\"/\\1\"Material Night Eighties\"/'"
